<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <!-- Title and description -->
    <title>Footer generator :: Brick Designs</title>
    <meta name="description" content="An Brick Designs email footer generator.">

    <!-- Styles -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootswatch/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">

</head>
<body ng-controller="ParserController">

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Header with brand and button -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brick Designs Footer Generator</a>
        </div>

        <!-- Collapseable part -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="presets()">Presets</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main content -->
<main class="main">
    <div class="container">

        <!-- Jumbo heading -->
        <div class="jumbotron">
            <h1>Email footer parser</h1>
            <p>If you follow the steps below, you can parse a source code with custom tags.</p>
        </div>

        <!-- The source panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Source code</h3>
            </div>
            <div class="panel-collapse collapse" uib-collapse="panelStep !== 1">
                <div class="panel-body">

                    <h2>Paste the source code below.</h2>
                    <p>
                        The code you use, may contain tags for automatic recognition.
                        The tags should start with <code>{{</code> and end with <code>}}</code>.
                        In between the tags, only valid <code>JSON</code> is available. The
                        <code>JSON</code> tags that are valid are: <code>type</code>, <code>name</code>,
                        <code>description</code> and <code>value</code>.
                    </p>

                    <!-- Source code -->
                    <div class="form-group">
                        <textarea class="form-control" rows="10" id="source-code" ng-model="sourceCode"></textarea>
                    </div>

                    <!-- Actions -->
                    <button type="submit" class="btn btn-primary" ng-click="goToStepTwo()">Next</button>

                </div>
            </div>
        </div>

        <!-- The input fields panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Input fields</h3>
            </div>
            <div class="panel-collapse collapse" uib-collapse="panelStep !== 2">
                <div class="panel-body">
	                <form name="formInputs">
	                    <h2>Please enter all data in the boxes below.</h2>

	                    <!-- The list of input fields -->
	                    <div class="form-group" ng-repeat="tag in tags" ng-class="{ 'has-error': formInputs['input-{{tag.id}}'].$invalid }">
	                        <label for="input-{{tag.id}}">{{tag.name}}</label>
	                        <input type="{{tag.type}}" class="form-control" name="input-{{tag.id}}" id="input-{{tag.id}}" ng-model="tag.value">
	                        <p ng-if="tag.description" class="help-block">{{tag.description}}</p>
	                    </div>

		                <!-- Actions -->
		                <button type="submit" class="btn btn-primary" ng-click="goToStepThree()" ng-disabled="formInputs.$invalid">Next</button>
		                <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
		                <button type="submit" class="btn btn-warning" ng-click="reset()">Reset</button>
		                <button type="submit" class="btn btn-danger pull-right" ng-click="panelStep = 1">Edit source code</button>
	                </form>
                </div>
            </div>
        </div>

        <!-- The parsed source panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Parsed source code</h3>
            </div>
            <div class="panel-collapse collapse" uib-collapse="panelStep !== 3">
                <div class="panel-body">

                    <h2>You can copy the source code below and use it as your email footer.</h2>

                    <!-- Source code -->
		    <pre class="example">{{ sourceCodeParsed | liveResult:tags }}</pre>

		            <!-- Live example -->
                    <h3>Live example</h3>

		            <!-- Example -->
		            <div class="panel panel-default panel-live-example {{ liveExampleSize }}" ng-init="liveExampleSize = 'desktop'">
				<button type="button" class="btn btn-default btn-mobile" aria-label="Left Align" ng-click="liveExampleSize = 'mobile'">
					<i class="fa fa-mobile fa-lg"></i>
				</button>
                                <button type="button" class="btn btn-default btn-tablet" aria-label="Left Align" ng-click="liveExampleSize = 'tablet'">
					<i class="fa fa-tablet fa-lg"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-desktop" aria-label="Left Align" ng-click="liveExampleSize = 'desktop'">
					<i class="fa fa-desktop fa-lg"></i>
                                </button>

				<div class="panel-body" ng-bind-html="sourceCodeParsed | liveResult:tags | sceHtml"></div>
		            </div>

                    <!-- Actions -->
                    <button type="submit" class="btn btn-primary" ng-click="panelStep = 2">Back</button>
                    <button type="submit" class="btn btn-success" ng-click="save()">Save</button>

                </div>
            </div>
        </div>

    </div>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright &copy; 2015 <a href="http://www.brickdesigns.nl">Brick Designs</a></p>
    </div>
</footer>

<!-- Scripts -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="js/app.js"></script>
<script src="js/parser.controller.js"></script>
<script src="js/sceHtml.filter.js"></script>
<script src="js/liveResult.filter.js"></script>

<!-- Load modal -->
<script type="text/ng-template" id="modalLoad.html">
    <div class="modal-header">
        <h3 class="modal-title">Load footer</h3>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <a href="#" ng-click="setItem($event, item)" class="list-group-item" ng-repeat="item in items" ng-class="{active: name === item}">
                {{item}}
            </a>
            <a class="list-group-item" ng-if="items.length < 1">No footers found</a>
        </div>
    </div>
    <div class="modal-footer">
	    <button class="btn btn-warning" type="button" ng-click="delete()" ng-if="items.length > 0 && name !== null">Delete</button>
        <button class="btn btn-primary" type="button" ng-click="load()" ng-if="items.length > 0 && name !== null">Load</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Save modal -->
<script type="text/ng-template" id="modalSave.html">
    <div class="modal-header">
        <h3 class="modal-title">Save footer</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="saveName">Name</label>
            <input type="text" class="form-control" id="saveName" placeholder="Name" ng-model="name">
            <p class="help-block">Select an item below if you want to override it.</p>
        </div>
        <div class="list-group">
            <a href="#" ng-click="$event.preventDefault(); setItem(item)" class="list-group-item" ng-repeat="item in items" ng-class="{active: name === item}">
                {{item}}
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-if="name !== null">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

</body>
</html>
